<%= link_to 'review', new_restaurant_review_path(@restaurant) %>


<h1>Le restaurant est :</h1>
<h5><%= @restaurant.name %></h5>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<h1>Les reviews :</h1>

<% @restaurant.reviews.each do |review| %>
  <p>content: <%= review.content %></p>
  <p>rating: <%= review.rating %> * </p>
  <hr>
<% end %>

<%= link_to 'retour', restaurants_path %>


  <!-- #link_to "update", edit_restaurant_path(@restaurant)
  #link_to "delete", restaurant_path(@restaurant), method: :delete  -->

